.product-cards {
  width: 186px;
  height: 198px;
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 8px;
  background-color: #fbfbfb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
  text-align: center;
  padding: 16px;
  padding-top: 48px;
}

.product-cards img {
  width: 82px;
}

.active {
  transform: scale(2); /* (150% zoom)*/
  transition: 0.4s; /* Animation */
  margin-left: 126px;
  margin-right: 126px;
  width: 200px;
  height: 217px;
}

.active img {
  width: 82px;
  margin-left: auto;
  margin-right: auto;
}

.product-cards.active {
  border-bottom: 2px solid yellow;
}

.product-cards.active p {
  margin-top: 45px;
  margin-bottom: 0px;
}

.product-cards.active .action.primary {
  display: block;
  margin-top: 36px;
  font-size: 8px;
  font-weight: bold;
}

.product-cards.active .action.primary:hover {
  color: yellow;
  text-decoration: underline;
}

.product-cards .action.primary {
  display: none;
}

.container {
  min-height: 600px;
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
}

.item1 {
  margin-left: calc(50% - 232px);
}

.item2 {
  margin-left: calc(50% - 475px);
}

.item3 {
  margin-left: calc(50% - 718px);
}

.item4 {
  margin-left: calc(50% - 958px);
}

.item5 {
  margin-left: calc(50% - 1200px);
}

.item1,
.item2,
.item3,
.item4,
.item5 {
  transition: margin-left 0.7s; /* Animation */
}

.yellow-shadow {
  min-height: 50px;
  width: 100%;
  border-radius: 4px;
  background-color: yellow;
}

.next {
  position: absolute;
  top: calc(81% + 19px);
  right: calc(25% - 32px);
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background: black;
  border: 1px solid;
  color: white;
}

.previous {
  position: absolute;
  top: calc(81% + 19px);
  left: calc(25% - 19px);
  width: 44px;
  height: 44px;
  border-radius: 44px;
  background: black;
  border: 1px solid;
  color: white;
}

.next:focus,
.previous:focus {
  outline: none;
}

.navigation-header {
  position: absolute;
  width: 204px;
  margin-left: calc(24% - 100px);
  margin-top: 6%;
  font-weight: 300;
}

.product-cards p {
  font-size: 20px;
  font-weight: 600;
}

@media screen and (max-width: 1080px) {
  .item1 {
    margin-left: calc(50% - 173px);
  }

  .item2 {
    margin-left: calc(50% - 400px);
  }

  .item3 {
    margin-left: calc(50% - 628px);
  }

  .item4 {
    margin-left: calc(50% - 855px);
  }

  .item5 {
    margin-left: calc(50% - 1080px);
  }

  .product-cards.active {
    width: 152px;
    margin-right: 96px;
    margin-left: 96px;
  }

  .product-cards {
    width: 170px;
  }

  .navigation-header {
    position: absolute;
    width: 175px;
    margin-left: calc(24% - 73px);
    margin-top: 16%;
    font-weight: 300;
    font-size: 22px;
  }

  .next {
    top: calc(72% + 19px);
    right: calc(22% - 36px);
  }

  .previous {
    top: calc(72% + 19px);
    left: calc(24% - 36px);
  }
}

@media screen and (max-width: 1366px) {
  .product-cards.active {
    width: 179px;
    margin-left: 118px;
    margin-right: 118px;
  }

  .product-cards {
    width: 174px;
  }

  .item1 {
    margin-left: calc(50% - 222px);
  }

  .item2 {
    margin-left: calc(50% - 450px);
  }

  .item3 {
    margin-left: calc(50% - 683px);
  }

  .item4 {
    margin-left: calc(50% - 915px);
  }

  .item5 {
    margin-left: calc(50% - 1141px);
  }

  .next,
  .previous {
    top: calc(68% + 19px);
    right: calc(25% - 30px);
  }
}

@media screen and (max-width: 967px) {
  .navigation-header {
    position: absolute;
    width: 100%;
    z-index: 99;
    margin-left: 0;
    top: -39px;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 60px;
  }
}
