<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <app-theme-toggle></app-theme-toggle>
  <h1 class="navigation-header">What are you <b>here to do ?</b></h1>
  <drag-scroll #nav [ngClass]="{
      'item1': currentIndex === 0,
      'item2': currentIndex === 1,
      'item3': currentIndex === 2,
      'item4': currentIndex === 3,
      'item5': currentIndex === 4
    }">
    <div drag-scroll-item class="product-cards" 
         [ngClass]="{'active': currentIndex === 0}"
         (click)="moveTo(0)">
      <img src="assets/Block.png" *ngIf="theme=='mtn'">
      <img src="assets/Block-Dark.png" *ngIf="theme=='mtn-dark'">
      <p>Mobile Internet</p>
      <a class="action primary">START HERE &nbsp; <fa-icon [icon]="arrowRight"></fa-icon></a>
    </div>
    <div drag-scroll-item class="product-cards" [ngClass]="{'active': currentIndex === 1}" (click)="moveTo(1)">
      <img src="assets/Block.png" *ngIf="theme=='mtn'">
      <img src="assets/Block-Dark.png" *ngIf="theme=='mtn-dark'">
      <p>Home Internet</p>
      <a class="action primary">START HERE &nbsp; <fa-icon [icon]="arrowRight"></fa-icon></a>
    </div>
    <div drag-scroll-item class="product-cards" [ngClass]="{'active': currentIndex === 2}" (click)="moveTo(2)">
      <img src="assets/Block.png" *ngIf="theme=='mtn'">
      <img src="assets/Block-Dark.png" *ngIf="theme=='mtn-dark'">
      <p>Get a device</p>
      <a class="action primary">START HERE &nbsp; <fa-icon [icon]="arrowRight"></fa-icon></a>
    </div>
    <div drag-scroll-item class="product-cards" [ngClass]="{'active': currentIndex === 3}" (click)="moveTo(3)">
      <img src="assets/Block.png" *ngIf="theme=='mtn'">
      <img src="assets/Block-Dark.png" *ngIf="theme=='mtn-dark'">
      <p>Add a phone-line</p>
      <a class="action primary">START HERE &nbsp; <fa-icon [icon]="arrowRight"></fa-icon></a>
    </div>
    <div drag-scroll-item class="product-cards" [ngClass]="{'active': currentIndex === 4}" (click)="moveTo(4)">
      <img src="assets/Block.png" *ngIf="theme=='mtn'">
      <img src="assets/Block-Dark.png" *ngIf="theme=='mtn-dark'">
      <p>Upgrade</p>
      <a class="action primary">START HERE &nbsp; <fa-icon [icon]="arrowRight"></fa-icon></a>
    </div>
  </drag-scroll>
</div>
<button (click)="moveLeft()" class="previous"><fa-icon [icon]="arrowLeft"></fa-icon></button>
<button (click)="moveRight()" class="next"><fa-icon [icon]="arrowRight"></fa-icon></button>