/* You can add global styles to this file, and also import other style files */
* {
  font-family: Arial, Helvetica, sans-serif !important;
}

.drag-scroll-content {
  overflow: visible !important;
}

/* Dark Theme colours */
.mtn-dark button.previous {
  background: yellow;
  color: black;
  border-color: yellow;
  transition: 0.4s; /* Animation */
}

.mtn-dark .product-cards {
  background-color: #2d2d2d !important;
  color: white !important;
  transition: 0.4s; /* Animation */
}
