* {
  font-family: Arial, Helvetica, sans-serif !important;
}

.drag-scroll-content {
  overflow: visible !important;
}

.mtn-dark button.previous {
  background: #ff0;
  color: #000;
  border-color: #ff0;
  transition: 0.4s;
}

.mtn-dark .product-cards {
  background-color: #2d2d2d !important;
  color: #fff !important;
  transition: 0.4s;
}
